@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>360-Video Preview</title>
</head>
<body>
	<a-scene>
		<a-assets>
			@*<video id="video" src="/Video3d/ReadVideo"
				   autoplay loop crossorigin="anonymous"></video>*@
			<video id="video" src="https://ucarecdn.com/fadab25d-0b3a-45f7-8ef5-85318e92a261/"
				   autoplay loop crossorigin="anonymous"></video>
		</a-assets>
		<a-videosphere src="#video" rotation="0 180 0"></a-videosphere>
	</a-scene>
	<script src="~/Scripts/aframe-master.js"></script>
</body>
</html>
